/* typography */
body{margin:0; padding:0; font:62.5%/1.8em arial,helvetica,sans-serif; min-width:82em;}
h1{font-size: 1.5em; line-height: 1.1em;}
h2{font-size: 1.8em;}
h3, .header .inline_list li a{font-size: 1.4em;}
h4, .container, .supplemental{font-size: 1.2em;}
h5{font-size: 1.1em;}
h6{font-size: 0.9em;}
h4.content_header{font-size: 1em;}

/* font-weight */
h1.title, h4.content_header {font-weight: normal; }

/*general*/
img{border:0}
.inline_list,.inline_list_right{list-style-type:none;margin:0;padding:0}
.inline_list li{display:inline;margin-right:.3em}
.inline_list_right li{display:inline;margin-left:.4em}
.column_list{list-style-type:none;margin:0;padding:0}
.column_list li{float:left;width:8em}
.offscreen{text-indent:-9999px}
.offscreen_noflow{float:left;text-indent:-9999em;margin:0;padding:0;/*safari bugfix:*/height:0;}
.left{float:left}
.right{float:right}
.align_right{text-align:right}
.hidden{display:none}
.nowrap{white-space:nowrap}
.noborder{border:0}
.inline_block{display:-moz-inline-box;display:inline-block;*display:inline;zoom:1;}

/*msg*/
.app_msg{background-color: #fff;  padding-bottom: 1em; margin-bottom: 1em;}
.app_msg p{margin: .1em 0;}
.app_msg_controls{text-align:right;}
.app_msg_controls a{font-size: 0.9em;}



.tgt_light{background:transparent url(/portal/portal3rc.fcgi/1049549/img/27532) no-repeat 100% -3%; padding-right: 17px; margin-right: 3px;}
.tgt_light:active{background:transparent url(/portal/portal3rc.fcgi/1049549/img/27532) no-repeat 100% 28%; padding-right: 17px; margin-right: 3px;}
.tgt_dark{background:transparent url(/portal/portal3rc.fcgi/1049549/img/27532) no-repeat 100% 100%; padding-right: 17px; margin-right: 3px;}
.tgt_dark:active{background:transparent url(/portal/portal3rc.fcgi/1049549/img/27532) no-repeat 100% 58%; padding-right: 17px; margin-right: 3px;}

.tabPopper{ position:absolute; top: 0; left:0; display: none; background-color:#fff; padding: .2em; margin-top: 3px; *padding-bottom:1em; box-shadow: .4em .4em .5em #999; -webkit-box-shadow: .4em .4em .5em #999; -moz-box-shadow: .4em .4em .5em #999; border: 1px solid #ccc; /* IE hack (6, 7, 8) */ border-bottom: 1px solid #666\0; border-right: 1px solid #666\0; }
.tabPopperCover{ position:absolute; top:0px; left: 0px; height: 1px; background-color: #FFA600; overflow:hidden; }
.tabPopper fieldset{border: 0;padding:0;margin:4px 10px;}
.tabPopper fieldset ul, .tabPopper fieldset dl {border-top: 1px solid #ddd;padding-top:3px;}
.tabPopper fieldset dl { margin: 0 0 6px 0;}
.tabPopper fieldset input {position:relative;top:3px;*top:2px;}


/* page components */
.header { height: 9em; position: relative; background: #e5e5e5 url(/portal/portal3rc.fcgi/1049549/img/28042) repeat-x scroll left bottom; }
.header a {text-decoration: none;}
.header a:hover{text-decoration: underline;}

/* everything was 25em - May 8  */
.container{ zoom:1; }
.content { background-color: white;  padding: .8em 1em 2em 1.333em; }
.supplemental { background-color: white; width: 22em; padding: .8em .4em 0 .8em;}
/* temporary */
.container { width: 100%; margin-right: -25.35em; float: left;  }
.content {  margin-right: 23.35em; }
.supplemental { float: right; }

.title_and_pager { margin: .9em 0 1.3em; }
/* IE6 fixes */
.results_settings, .title_and_pager, .rprt { zoom: 1; }
/* end IE6 */
.container { background-color: transparent; }
.container{ zoom:1; }
.content { background-color: white; padding: .8em 1em 2em 1.333em; }
.supplemental { background-color: transparent; width: 0; }
/* temporary */
.container { width: 100%; margin-right: 0; float: none; }
.content {  margin-right: 0; }
.supplemental { float: none; }
/*db logo*/
.app_logo { width: 16.5em; left:1.6em; padding-top: .5em; position: absolute; } 
.app_logo h1 { margin: 0; }
.db_logo { background: #E5E5E5 url(/portal/portal3rc.fcgi/1049549/img/3934) no-repeat scroll left top; display: block; height: 65px; text-indent: -9999px; }

.res_logo { width: 16.5em; left:1.6em; padding: .5em 0; position: absolute; line-height: 1.5em; color: #555; }
.res_logo_long { padding: .2em 0 0; }
.res_logo_oneword { padding: .8em 0 0; }
.res_name { font-size: 2.5em; margin: 0.25em 0 .1em; font-weight: normal; }
.res_logo_long .res_name, .res_logo_oneword .res_name { font-size: 1.8em; }
.res_logo_long .res_name { line-height: 1;}
.res_logo_oneword .res_name { margin: .4em 0 .35em; }
.res_name a { color: #444; text-shadow: .1em .1em .2em rgba(40,40,40,.3); }
.res_tagline {font-size: 1.4em; margin: 0.25em 0; font-weight: normal; }
.res_logo a, .res_logo a:hover, .res_logo a:visited { text-decoration: none;} 

body#WithSidebar
{
    margin: 0px;
}

div#Header
{
    width: 100%;
}

div#peptidome-logo, div#ncbi-logo
{
    float: left;
}

div#ncbi-logo
{
    height: 57px;
    background-color: rgb(51, 102, 153);
    padding-top: 15px;
}

div#peptidome-logo
{
    margin-left: 190px;
}

div#peptidome-logo img
{
    border: none;
}

table#myncbi_on, table#myncbi_off
{
    position: absolute;
    top: 3px;
    right: 3px;
}

div#search_bar
{
    font-family: verdana, geneva, arial, sans-serif;
    font-size: 0.9em;
    padding-top: 12px;
}

div#search_bar span
{
    margin: 0 10px;
}

button#Clear
{
    width: 4.5em;
}

div#display_bar1
{
    padding-top: 8px;
    padding-bottom: 4px;
    margin-top: -2px;
    border-top: 1px solid #AAA;
    background-color: #CCC;
}

div#display_bar1, div#display_bar2, div#filter_tab_wrapper, div#filter_tab_wrapper .tabs
{
    background-color: #CCC;
}

div#display_bar1, div#display_bar2
{
    font-size: 1.1em;
}

div#ViewPanel
{
    font-family: verdana, geneva, arial, sans-serif;
    color: #333;
    font-size: 0.85em;
}
body.peptidomeapp div#ViewPanel{ font-size:1.4em; line-height:1.0em;padding-bottom:20px;padding:5px 5px 20px;}

/* For Details Tab */
#QueryDetails
{
    margin: 13px;
}

div#RightCol
{
    min-width: 800px;
    min-height: 600px;
    clear: left;
}

div#contentbox-left
{
    float: left;
    width: 74%;
}

div#contentbox-right
{
    float: right;
    display: block;
    width: 24%;
    max-width: 350px;
    /*min-width: 210px;*/
    margin-right: 10px;
}

/* Home Page */
div#home
{
    font-size: 0.8em;
    max-width: 860px;
}

div#home a
{
	text-decoration: none;
	color: #369;
}

div#home a:hover
{
	text-decoration: underline;
	color: #58A;
}

div#about-omix 
{
	/* max-width: 900px; */
	background-color: #DFE8F6;
	border: 1px solid #99BBE8;
	/* background-color: #e9f2fa;
	border: 1px solid #d9e2fa; */
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 2px 5px;
	margin: 12px 10px;
}

p.about 
{
    line-height: 1.5em;
	padding: 3px 0px;
	margin: 5px;
}

p.about a.small
{
	text-decoration: none;
	font-size: 0.8em;
	color: #58A;
}

p.about a.small:hover
{
	color: #369;
}

p.about > strong
{
	font-weight: bold;
}

.about h4 
{
	border-bottom: 1px dotted #CCC;
	margin: 20px 5px 2px 0px;
}

ul.about 
{
	color: #CCC;
	background-color: #FFF;
	padding: 7px 10px 7px 35px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

ul#browse_guide 
{
	padding: 0px 10px 15px 35px;
}

ul.about li 
{
	list-style-position: outside;
	list-style-type: square;
	padding: 3px 2px;
}

.list-text 
{
	color: #666;
}

div#search-examples 
{        
    max-width:860px;
	/*	
	border: 1px solid #99BBE8;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 2px 5px;
	margin: 10px;
	*/
}

div#search-examples h3
{
    color: #57A;
    margin: 0 0 0 3px;
}

div#search-examples table
{
    margin: 10px 0;
}

div#search-examples th, div#search-examples td
{
    text-align: left;
    padding: 5px 10px 5px 5px;
}

div#search-examples th
{
    color: #666;
    background-color: #FFF9CE;
    border-bottom: 1px dotted #AAA;
}

div#search-examples td
{
    color: #777;
}

div#search-examples > p
{
    padding: 5px;
    margin-left: 5px;
    border: 1px solid #DDD;
    background-color: #F6F9FE;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	text-align: center;
	font-size: 0.9em;
	color: #555;
}
/* END Home Page */

div#Footer
{
    clear: both;
}

/******************************************/
/* Entrez_PageLayout_CSS                  */
/******************************************/

body { padding: 0; margin: 0; background: none; min-width: 800px; }
#WithSidebar { background: white url(/corehtml/bkgd.gif) repeat-y top left; }

form,body { _width: expression(document.body.clientWidth < 1010 ? "1000px" : "100%" ); }

/* General rules */
img { border: 0px; }

/* Layout */
/* div#RightCol { width:98%; float: left; zoom: 1; margin: 0em .5em; _margin-left: .25em; _margin-right: 0em; }  only apply when no LeftColumn */
div#LeftCol { display: none; float: left; zoom :1; }

#WithSidebar div#RightCol { float: right; width: 100%; margin-left: -152px; }
#WithSidebar div#LeftCol { display: block; float: left; margin-top: 6em; }
#WithSidebar div#RightColContent { margin-left: 136px; _margin-left: 128px; _padding-left: 0px; }

#myncbi_on, #myncbi_off { background-color: #fff; position: absolute; top: .5em; right: .5em; }

/* components */
#WithSidebar #SearchPanel { margin-left: -136px; position: relative; }
#WithSidebar #SearchPanel #search_bar { margin-left: 0px; padding-bottom: 5px; }
#WithSidebar div#SearchBarInputs { margin-left: 7px; _margin-left: 28px; }
#WithSidebar #CommandPanel { margin-left: 7px; _margin-left: 15px; }
#WithSidebar .tabs ul.tablist { margin-left: 6px; }
#WithSidebar #ViewPanel { margin-left: 0.6em; margin-right: 0.1em; _margin-left: 18px; } 

/* ---------------------------------------- LEFTBAR */
strong 
{
    font-weight: bold;
    color: #444;
}

#leftbar 
{
    position: relative;
    background-color: #369;
    font-family: verdana, arial, helvetica, sans-serif;
    color: #47a;
    padding-left: 0.25em;
}

#leftbar h3 
{
	font-size: 90%;
	color:#F3F294;
	border-bottom: 1px solid #58B;
    margin: 0;
    font-weight: bold;
    padding: 3px 0px;
    padding-bottom: 0em;
}

#leftbar a 
{
    display: block;
    font-size: 80%;
    color: #eef;
    text-decoration: none;
}

#leftbar ul 
{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 1em;
    /* border: solid 1px #47a; */
    padding: 3px 4px;
}

#leftbar li 
{
    padding: 0;
    margin: 0;
    line-height: 1em;
}

/* #leftbar li:hover
{
    background-color: #58B;
} */

#leftbar a:hover 
{
    text-decoration: underline;
    background-color: #58B;
}

#leftbar a:visited 
{
    color: #faf;
}
/* ---------------------------------------- END LEFTBAR */
#contentbox-right div#taxonomy-subset-container 
{  
    font-size: 1.0em;
}

a,a:link, a:visited, a:active {
	outline:none;	 
}
#ViewPanel a,#ViewPanel  a:link, #ViewPanel  a:visited,#ViewPanel  a:active {
	color: #369;
 }
 
a.clickable {
	cursor:pointer
}
#browse_page a,#browse_page a:link, #browse_page a:visited, #browse_page a:active { text-decoration: none;}
#browse_page a:hover { text-decoration: underline;}


#guidelines,#faq,#contact,#submitdata {
	padding-left: 0.3em;
	font-size: 13px;
}
#guidelines,#faq ,div#home,.list-text,ul.about,#contact,#submitdata{
	color: #383838;
}
ul.about,ul.about li {
    margin-left:0;
}
ul.about {
    padding-left: 15px;
}
#home #about-omix ul.about {  padding-left: 35px; }
#horiz_toolbar {
    padding-top:2px;
    padding-bottom:2px;
    border-bottom:1px solid #BFBFBF;   
}

#WithSidebar div#LeftCol {
    margin-top:4em;
}

div#SearchBarInputs {
    /*float: right !important;*/
    font-size: 12px;
    font-weight:bold;
}

div#search_bar{
    padding-top: 7px;
    border-bottom:1px solid #AAAAAA;    
}
div#about-omix ,div#more-about-omix { _font-size: 12px}
div#about-omix {
    margin-left: 0;
    padding:2px 5px 5px;
    max-width: 860px;
}



#accord { 
    clear:left;
    margin-bottom:10px;
    margin-top:10px;
    padding-top:1px;
}

#ViewPanel h2{
    color: #336699;    
}
div#home h2 {
    margin-top: 0px;
}

#ViewPanel h1,#ViewPanel h2,#ViewPanel h3,#ViewPanel h4, #ViewPanel h5,div#home,#leftbar {
    font-family:verdana,helvetica,clean,sans-serif;
}
h3 {
    border-bottom:1px dotted #CCCCCC;
    color:#336699;
    font-size:1.1em;
    margin:25px 5px 5px 0;
}
h4 {
    color:#4376A9;
    font-size: 13px;
    margin:15px 5px 5px 0;
}
.about h4 {
    border-bottom:1px dotted #CCCCCC;
    margin:20px 5px 2px 0;
}

#leftbar 
{
    position: relative;
    background-color: none;
    font-family: verdana, arial, helvetica, sans-serif;
    color: #47a;
    padding-left: 0;
    width: 144px;
    background: none; 
    padding-top:20px;
}

#leftbar h3 
{
	font-size: 80%;
	color:#F3F294;
	border-bottom: 1px solid #58B;
    margin: 0;
    font-weight: bold;
    padding: 3px 0px;
    padding-bottom: 2px;
    padding-left: 0.25em;
    margin-right: 5px;
}

#leftbar ul 
{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 1em;
    /* border: solid 1px #47a; */
    padding: 3px 0px 3px 4px;          
}

#leftbar li 
{
    padding: 0;
    margin: 0;
    line-height: 1em;   
}

#leftbar a 
{
    color:#EEEEFF;
    display:block;
    font-size:11px;
    margin-top:2px;
    font-weight: bold;
    padding:1px 0 1px 5px;
    text-decoration:none;
    border:1px solid #336699;
    border-right-color: #6889ae;    
    margin-right: 1px;        
}
#leftbar a:visited 
{
    color: #EEEEFF;
}
#leftbar a:hover,#leftbar ul li a.active 
{
    text-decoration: none;
    -moz-border-radius-bottomleft:3px;
    -moz-border-radius-topleft:3px;
    -webkit-border-bottom-left-radius: 3px;
	-webkit-border-top-left-radius: 3px;
    border:1px solid #FFFFFF; 
    background: #FFFFFF !important;     
    color: #222222 !important;    
    margin-right:0px;
    font-weight: bold;
}
/* ---------------------------------------- END LEFTBAR */

#horiz_toolbar {
    _height:1.6em;
}

#statistics {
	clear:left;
}
#statistics table {
	padding:0;
	margin:0;
	margin-left:1px;
	/*width: 139px;*/
}
#statistics {
	float: left;
	float: right;
	width: 170px;
	width: 150px;
	margin-left: 20px;
	/*background-color: #7FA0B1;*/
	
	font-size:11px;
}
 #statistics h3 {
	border:none;
	font-weight: bold;
	font-size:11px;
	text-align:left;
	margin:0;
	padding:0;
	line-height: 12px;
	padding-top:4px;
	padding: 3px 0px 3px 6px;
	border:1px solid #99bbe8;
	border-bottom: none;
	height:14px;
	/*background: url('../img/h3right.jpg') top right no-repeat;	 	 	*/
	background: #DFE8F6;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
}
#submission-stats-studies, #submission-stats-private, #submission-stats-studies .x-panel-body, #submission-stats-private .x-panel-body, #submission-stats-mols, #submission-stats-mols .x-panel-body {
	margin:0;
	padding:0;  
}
#submission-stats-private {
	margin-top:8px
}
#statistics table.stats_table {
	border-color:#ccc;
}
#statistics table.stats_table td, #statistics table.stats_table th {
	background: #fff
}
 #statistics table.stats_table td#spacer {
	height:4px;
	padding:0;
	margin:0;
	background:none;
}
#statistics table td, #statistics table th {
	font-size:10px;
}
td#stats {   
	text-align: right;
	vertical-align: top;
}
div#home td#stats {
    padding-top: 13px;
}


#holdingsContent {
	border:1px solid #4983dc;
	border:1px solid #d3e0f5;
	border:1px solid #99bbe8;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	padding:5px 0px;
}
.stats_table td a {
	display: block;
}
.stats_table td {
	text-align: right;
	color: #777;
}
.stats_table th {
	text-align: left;
}
.stats_table td a:hover {
	color:#d71414;
}
.stats_table th {
	color: #555;
	font-weight: bold;
}
.stats_table td, .stats_table th {
	padding: 0.2em 0.4em;
}
div#home table.stats_table td, div#home table.stats_table th {
	padding:2px;
}

.resources p{ padding-left:15px}
/* For guidelines */
#guidelines a , #guidelines a:visited,#faq a,#faq a:visited,#submitdata a, #submitdata a:visited{
	text-decoration: none;
	color: #0367ca;
}
 #guidelines a:hover,#faq a:hover, #submitdata a:hover {
	text-decoration: underline;
}

#guidelines p,#faq p, #submitdata p {
	margin-bottom: 1em;
}
#guidelines h3,#faq h3, #submitdata h3 {
	margin: 25px 5px 5px 0px;
	border-bottom: 1px dotted #CCC;
	font-size: 1.2em;
	color: #444;
	clear: both;
}
#guidelines h3 a,#faq h3 a , #submitdata h3 a{
	padding-right: 20px;
}
#guidelines ul {
	 
	background-color: #FFF;
	padding: 7px 10px 7px 0px;
	margin-left: 25px;	
}
#guidelines ul li ul {
    margin-left:0px;
}
#guidelines ul li {
	list-style-position: outside;
	list-style-type: square;
	padding: 1px 2px;
	font-size: 0.9em;
}
#faq h4 a:hover {
	padding-right: 20px;
	text-decoration: none;
	color: #69c;
}
#faq h4 a.no_arrow {
	padding-right: 0px;
}
#faq h4 a.no_arrow:hover {
	background: none;
	text-decoration: none;
	color: #69c;
}
#faq h4 a.no_arrow-exit {
	text-decoration: underline;
	padding-right: 0px;
	color: #69c;
}
#faq h4 a.no_arrow-exit:hover {
	background: none;
	text-decoration: none;
	color: #69c;
}
#guidelines h3 a:hover {
	text-decoration: none;
	color: #69c;
}
#guidelines h4 {
	margin: 15px 5px 5px 0px;
	font-size: 1.0em;
	color: #369;
	clear: both;
}

div.guidelines {
	margin-bottom: 9px;
	clear: both;
}
.toc {
	width: 130px;
	border: 1px solid #D0D8Df;
	margin-top: 20px;
	margin-left: 0px;
	font-size: 0.8em;
}
#guidelines .x-panel {
	margin-top: 20px;
}

.metadata_table {
	width: 95%;
	border: 1px solid #D6DDE6;
    border-collapse: collapse;
	margin: 0 0 25px 15px;
}
.metadata_table caption {
    background-color: #7aa1bc;
	border: 1px solid #D6DDE6;
	border-bottom: none;
    color: #fff;
	font-size: 1.1em;
	font-weight: normal;
	text-align: left;
	padding: 0.1em 0.5em;
	margin-left: 15px;
	width: 125px;
}
.metadata_table caption.wide {
	width: 520px;
}
#guidelines .metadata_table caption a, #guidelines .metadata_table caption a:hover {
	text-decoration: none;
	color: #fff;
}
.metadata_table thead th {
	background-color: #D6DDE6;
	color: #555;
	font-size: 1.0em;
	font-weight: normal;
	text-align: center;
	border: 1px dotted #D6DDE6;
	border-bottom: 1px solid #FFF;
	border-top: 1px solid #FFF;
	padding: 0.2em;
}
.metadata_table tbody th {
	background-color: #FFF;
	color: #777;
	font-size: 0.9em;
	font-weight: bold;
	border: 1px dotted #D6DDE6;
	padding: 0.2em 0.4em;
	width: 120px;
	text-align: left;
}
table#sample-files tbody th {
	width: 230px;
}
#guidelines .metadata_table th.section_title {
	background-color: #E9F2F9;
	color: #777;
	font-size: 1.0em;
	font-weight: bold;
	text-align: center;
	border: 1px dotted #D6DDE6;
	padding: 0.1em;
}
.metadata_table td {
	background-color: #FFF;
    color: #444;
	font-size: 0.9em;
	border: 1px dotted #D6DDE6;
	padding: 0.3em 0.4em;
}
#guidelines .metadata_table p {
	padding: 0.5em 1.5em;
	margin: 0.2em;
}
#guidelines h4 a:hover {
	 
	padding-right: 20px;
	text-decoration: none;
	color: #69c;
}
.guide_table {
	border: 1px solid #D0D8Df;
	border-collapse: collapse;
	margin: 0 0 15px 15px;
}
.guide_table td {
	font-size: 0.8em;
}
.guide_table td.rt {
	text-align: right;
}
.guide_table td.int {
	text-align: right;
	padding-right: 1em;
	width: 30px;
}
.guide_table th {
	background: #F9F9F9 url('../images/default/grid/grid3-hrow.gif') repeat-x scroll 0pt bottom;
	color: #555;
	font-size: 11px;
	font-weight:bold;
}
.guide_table td, .guide_table th {
	border: 1px dotted #D6DDE6;
	padding: 0.4em 0.5em;
}
dl.guidelines {
	margin: 5px 5px 5px 25px;
	padding: 5px;
}
dl.guidelines dt {
	color: #5A5;
	font-weight: bold;
	font-size: 12px;
	margin: 0px 0 9px 0px;
	float: left;
	clear: left;
	width: 16%;
	min-height: 30px;
}
dl.guidelines dd {
	color: #273;
	display: block;
	margin: 0px 0 9px 0px;
	float: left;
	width: 84%;
	min-height: 30px;
}
dl.guidelines dd ul {
	padding: 10px 10px 10px 30px;
}
dl.guidelines dd ul li {
	list-style-type: square;
	padding: 1px 2px;
}
/* End For guidelines */
#contents {
	width: 370px;
	border: 1px solid #D6DDE6;
	padding: 0px;
	margin-top: 0px;
	font-size: 0.9em;
}
#contents ul {
	float: none;
}
#contents ul li {
	font-weight: bold;
	padding: 1px 0;
}
#contents ul ul {
	padding: 3px 0 3px 20px;
}
#contents ul ul li {
	list-style-type: circle;
	font-size: 1em;
	font-weight: normal;
}
#contents h5 {
	margin: 5px 5px 5px 5px;
	color: #4376a9;
}

/*** SUBMISSION PAGE ***/
#upload-form li div {
	padding: 7px;
}
#upload-form h5 {
	text-align: center;
	font-size: 1.1em;
	margin: 0px;
	color: #4376a9;
}
#upload-form ol {
	padding-left: 3px;
	margin: 0px 20px;
}
#upload-form div.border  ol {
	/* padding-left: 3px; */
	margin: 10px 0px;
	color: #666;
	background: #FFF;
	padding: 7px 10px 7px 35px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#upload-form ol li {
	list-style-type: decimal;
	list-style-position: outside;
	margin: 5px 7px;
}
#upload-form ol ol {
	padding: 3px 0 3px 0px;
	margin: 0px 10px;
}
#upload-form ol ol li {
	list-style-type: lower-latin;
	font-size: 1em;
	font-weight: normal;
}
div.border {
	border: 1px solid #CCC;
	background: #D6DDE6;
	padding: 10px;
	margin: 20px 0;
	font-size: 0.9em;
	color: #666;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
div.border table {
	margin: 5px auto 10px auto;
	border-collapse: separate;
}
div.border th {
	width: 80px;
	background-color: #7aa1bc;
	color: #fff;
	padding: 3px;
	font-weight: bold;
	border: 1px solid #D6DDE6;
}
div.border td {
	background-color: #B6BDC6;
	color: #fff;
	padding: 3px;
	border: 1px solid #D6DDE6;
}
.ft_tabs {
	padding: 7px;
}

/**************************************/
/*   Breadcrumbs and download links   */
/**************************************/
#status-bar {
	padding: 5px 0px 0 0px;
	margin: 0;
	margin-bottom: 10px;
	color: #888;
	width: 100%;
	float: left;
	font-size: 0.8em;
}
#breadcrumbs {
	width: 58%;
	float: left;
	padding-left:0px;
}
#browse_page #breadcrumbs {
	padding-left:10px;
}

#login-status {
	float: right;
	text-align: right;
	padding-right: 10px;
	/*margin-right: 10px;*/
	color: #888;
	width: 30%;
}
#downloadLinks {
	font-size:10px;
	float:none;
	color: #888;
	text-align: right;
	padding:0;
	margin:0;
	margin-bottom:3px;
}
#downloadLinks #link {
	color: #494949;
	margin-top:-6px;
	width: auto;	
}

#downloadLinks ul, #downloadLinks ul li {
	margin:0;
	padding:0;
	list-style:none;
	list-style-type:none;
	display:inline;
}
#downloadLinks ul li {
	line-height: 11px;
	height:11px;
}
#downloadLinks span {
	color:#b6b5b5;
	padding:0px 2px;
}
#downloadLinks li.last {
	background:none;
	padding-right:0px;
}
#downloadLinks li.first {
	padding-left:0px;
}

/*****************************************/
/*              Browse pages             */
/*****************************************/
#browse_page .stats_table {
	margin: 2px;
}
#upload_page fieldset, #browse_page #submission-stats-mols fieldset, #browse_page #submission-stats-studies fieldset {
	background-color:#fff;
	border:1px solid #99BBE8;
	margin: 0;
	padding:0;
	width: auto;
}
#upload_page legend, #browse_page #submission-stats-mols fieldset legend, #browse_page #submission-stats-studies fieldset legend {
	font-size:10px;
	font-weight: bold;
	margin:0;
	margin-left:5px;
	color: #336699;
	padding: 0px 2px;
}

#browse_page #submission-stats-studies h3, #browse_page #submission-stats-mols h3 {
	padding:0;
	border:none;
	margin:0;
	text-align:left;
	font-size:10px;
}
#browse_page #submission-stats-other {
	float:right
}

#browse_page #submission-stats-studies .stats_table td, #browse_page #submission-stats-studies .stats_table th, 
#browse_page #submission-stats-mols .stats_table td, #browse_page #submission-stats-mols .stats_table th {
	padding:1px 2px;
	min-width:20px;
	width:auto;
	margin:0;
}

.stats_table {
    font-size: 10px;
}
#browse_page .stats_table {
	margin: 2px;
}

.stats_table td a {
	display: block;
}
#browse_page #contentwrapper {
    clear: both; 
    /*float: left; 
    width: 100%;*/
    padding: 0px 7px;
}
/*
#browse_page #statistics table{
    width: 100%;
   }
   */
#browse_page #contentbox-left {width: 98%;}
#browse_page #contentbox-right {width: 1%;}
 
#browse_page #statistics {
    float: none;
    width:100%;
    margin-left:0px;
	margin-bottom:4px;
}
 
#sample_page #metadata, #subMeta #metadata {
	width:100%;
	margin:0;
}
#subMeta #metadata h3 {
	margin-top:10px;
}
#sample_page #metadata h3 {
	margin-top:10px;
	border-bottom: 1px solid #e1e0e0;
}
#sample_page #metadata h3 span, #subMeta #metadata h3 span {
	color:#555
}
#sample_page #metadata h3 span#privateTag, #subMeta #metadata h3 span#privateTag {
	color:#c50507
}
#subMeta #metadata p {
	margin:0;
	padding:0;
}
#sample_page #metadata p, #subMeta #metadata p {
	margin-bottom:5px;
}
#sample_page #metadata a:hover, #subMeta #metadata a:hover {
	/*font-weight:bold*/
}
#sample_page #metadata #box, #subMeta #metadata #box { 
	padding-left:10px;
}
#sample_page #metadata #box table, #subMeta #metadata #box table {
	padding:0;
	margin:0;
}
#metadata {
	margin-top: 20px;
}
/* Attempt to fix IE6 grid width issure */
.x-grid3-header-offset {/*padding-left:1px;width:10000px;#width:auto;*/
	_width:auto;
}
/* tables */
table.tablestyled {
	/*font-family:arial;*/
	background-color: silver;
	margin:5px;
	font-size: 11px;
	width: 100%;/*text-align: left;*/
}
table.protTable {
	width:auto
}
table.tablestyled thead tr th, table.tablestyled tfoot tr th {
	background-color: #e0eafa;
	border: 1px solid #d6d6d6;
	font-size: 11px;
	font-weight:bold;
	padding: 4px 5px;
}
table.tablestyled tbody td {
	color: #3D3D3D;
	padding: 3px 4px;
	background-color: #FFF;
	vertical-align: top;
	font-size: 11px;
}
table.contactinfo {
	width:320px
}
/*table.contactinfo td{ padding: 0px 20px 10px 0px;}*/

table.tablestyled tbody td.fixedWidth, table.tablestyled thead tr th.fixedWidth {
	width:70px !important
}
table.tablestyled tbody td.fixedWidthAcc, table.tablestyled thead tr th.fixedWidthAcc {
	width:100px !important
}
table.tablestyled thead tr th.fixedWidthName {
	width:175px !important
}
table.tablestyled thead tr th.seqCol {
	padding-right:300px
}
/*
table.tablestyled tbody td.stretch { width:35%; white-space:nowrap; overflow:hidden}
table.tablestyled tbody td.stretch:hover { white-space: normal}
*/
table.tablestyled tbody td.rightJustify {
	text-align:right;
}
table.tablestyled tbody td a:hover {
	/*font-weight:bold;*/
	text-decoration:underline
}
table.tablestyled tbody tr.odd td {
	background-color:#f7f7f7;
}
table.tablestyled tbody tr:hover td {
	background-color:#fdfed1
}
#sampleMetaData, #studyMetaData {
	width:100%;
	background-color:#DFE8F6;
	display: inline-block;
}
#sampleMetaData #samplesContent, #studyMetaData #samplesContent {
	/*margin:5px;*/
	border:1px solid #99bbe8;
	padding: 10px;
	font-size:11px;
	line-height:14px;
	background-color:#fff;
}
#authExplanation { 
	margin:0 auto; 
	margin-top:5px; 
	position: relative;
	padding-bottom:10px; 
 
	max-width: 990px;
 
}
#authExplanation ul{
	list-style-type: disc;	 
}
#errorMSG,.errorMSG, #browseErrorMSG {
	padding: 15px 0px 6px 0px;
	font-size: 12px;
	font-weight:bold;
	text-align:center;
	background-color:#fdfed1;
	color:#c70a0a;
}
#expandedContent {
	/*width:100%;*/
	border: 1px solid #99bbe8;
}
#expandedContent #sampleMetaData_err, #expandedContent #proteins1_err, #expandedContent #peptides1_err, #expandedContent #studyMetaData_err, #expandedContent #samples2_err, #expandedContent #sampleMetaData_err, #expandedContent #grid_samples_err, #expandedContent #grid_studies_err {
	width:96%;
	padding: 5px 2%;
	text-align:center
}
#expandedContent #errorMSG, #expandedContent #browseErrorMSG {
	background:none;
}
.x-grid3-row-selected {
	background:#ebf3ff none repeat scroll 0 0 !important;
}
.x-grid3-row-over {
	background:none;
	background-image: none;
	border:1px solid #ededed;
}
.x-grid3-row-selected {
	border:1px dotted #a3bae9;
}
#ftpDownload a {
	cursor: pointer
}
#ftpDownload a:hover {
	text-decoration:underline;
	font-weight:normal !important;
	color:#a20606
}
#ftpDownload {
	  
	color: #464646;
	font-size:11px;
	float: right;
	min-height:16px;
	margin-top: 10px;
	margin-right:5px;		 
}
#ftpDownload a
{
	background: url('/projects/peptidome/img/download.gif') no-repeat scroll right center;
	padding-right:17px;
	min-height:16px;
	padding-top:1px;
}
#ftpDownload.godown a{
    background: url('/portal/portal3rc.fcgi/1049549/img/30236') no-repeat scroll right center;
    padding-right:14px;
    padding-top:0px;
}
#createtokenHolder{
	width: 160px;
	clear: right;float: right; min-height:16px;margin-top: 17px;margin-right:0px;
}

#createtokenHolder #link {
	margin-top: 7px;	 
	float:right;
}

a#createtoken {
	float: left;	 
}
#createtokenHolder a
{
	border: 1px solid #c4c3c3;
	background-color: #E9F7FC;
	background: #e3e3e3 url("/projects/peptidome/img/buttonBG.jpg") top left repeat-x;
	padding: 5px 6px;
	margin: 2px 6px;
	font-weight: bold;
	cursor:pointer;
}

#createtokenHolder a.subButtonDeactivated{
	color:#929292;
	cursor: auto;
}
#createtokenHolder a.subButtonDeactivated:hover{
	color:#929292;
	cursor: auto;
	text-decoration:none;
}
#createtokenHolder a.subButton{      
    color: #454545;            	
    cursor: pointer;  
}
#createtokenHolder a.subButton:hover
{
	border: 1px solid #a09f9f;
	color: #0598a9;
	text-decoration:none;
}

#specWidth {
	padding-right:10px;
	width:113px;
	 
}
td#bottomAlign {
	vertical-align: bottom
}
.datatable td {
	padding-right:6px;
}
div.addfilecontainer {
	padding-top:5px;
}
#asterick {
	color:#369
}
#asterick, #smallfont {
	font-size:9px;
}
#smallfont {
	padding:0px 0px 3px 9px
}

#approveHolder {
	clear:both;
	float:right;
	width:160px;
	text-align:right;
	 
}
a.approve:hover,a.disapprove:hover { font-weight:normal !important; text-decoration:underline}
a.approvedDeactivated,a.approvedDeactivated:hover { color:#666; text-decoration:none !important; font-weight:normal !important}
.approve {
	background: url('/projects/peptidome/img/action_check.png') left center scroll no-repeat !important;
	padding-left:16px;
}
.disapprove {
	background: url('/projects/peptidome/img/action_delete.png') left center scroll no-repeat !important;
	padding-left:16px;
}
#MyToolbar .x-toolbar {
    height:21px;
}
#MyToolbar .x-toolbar table {
    float:right;
}

.PubmedCitation ul li { font-weight:normal; padding-bottom:4px;}
.PubmedCitation ul li b{ font-weight:normal; }


#pep_indents_page #main-content {
	width:auto;
}
 #browse, #guidelines {
	position: relative;
	height: 100%;
	/*width: 100%;*/
}
#guidelines,#accord,#contact #main-content,#faq p {
    padding-right:15px;
}

#browse {
	border: 1px solid #99BBE8;
	/*margin-left: -10px;*/
	margin-bottom: 10px;
	width: auto;
}

#toolbar {
	height:27px;
}
#pep-idents, #browse,#WithoutSidebar {
	min-width:1000px;
}
.general_portlet #browse {background-color:#DFE8F6;}
#prot-grid {
	margin-left: 0px;
	margin: 5px;
	background-color: #ffffff;
	height: auto;	
	min-height:50px;	 
}
#pep-idents {
/*margin-left: -12px;*/
}
#subm_info {
	width: 740px;
	padding: 5px 0;
}
.general_portlet h2 {
	font-size: 1.3em;
	color: #336699;
	background: transparent;
	padding: 4px 0px 4px 0px;
	margin:0px; 
}
#faq-page .general_portlet h2 {
	margin-bottom: -10px;
}
.general_portlet ul li {
	list-style-position: inside;
}
.general_portlet.title {
	padding-bottom: 3px;
}

/* For peptide identification scores */
.score-type {
	color: green;
}
.grid_cell {
	background-color: #F7FFFA;
}
.defl:hover {
/*white-space: normal;*/
}
.long {
	width: 95%;
	float:left;
	overflow:hidden;
}
.nowrap {
	white-space:nowrap;
}
.wraptxt {
	white-space: normal
}
.deflimg, .deflimgdesc {
	width: 4%;
	float:left;
	margin-left:2px;
	background:url('../images/default/griasc.gif') no-repeat right -3px;
	width:7px;
	height:11px;
}
.deflimgdesc {
	background:url('../images/default/grid/sort_desc.gif') no-repeat -8px 7px;
}
#deflDynaHiddenSpan {
	white-space: nowrap;
	visibility: hidden;
	padding: 0px;
	font-size:11px;
	display: inline;
}

/* Home page */
div#home,#contentcolumn_for_two_col_layout.textpage,#main-content.general_portlet
{
    _width: 800px;
     
    color: #333;
    min-height: 500px;
    margin-left: 11px;
}
div#home,#submitdata,#contact {
    font-size:0.9em;
    /*max-width: 690px;*/
}
div#home {
    max-width: 100%;
}

#submitdata #main-content{
    max-width: 750px;
}
.filesIcon { cursor: pointer;}
.hidden {display: none;}
.filesCont {padding: 6px; background-color:#fff;}
#dlWin .x-window-body{ background-color:#fff; !important}
div#dlTable{    
    /*width:55%;*/
    /* border-collapse:separate;
    height: 290px;*/
    /*margin-bottom:10px;*/
    /*
    *height:290px;
    *overflow-y:scroll;
    *overflow-x:hidden;
    */
    /*   
    height/*\** /:290px\9;
    overflow-y/*\** /:scroll\9;
    overflow-x/*\** /:hidden\9;
    position/*\** /:relative\9;
    */
 
}



.right{float:right;}
div#dlTable td.unbold a:hover { font-weight: normal !important}

/*div#dlTable table tbody{
    max-height: 250px; 
    
    overflow-y: auto;
    overflow-x: hidden;
}
div#dlTable table tbody tr{
    height: 0px;
}
td.doubleBorder{
    border-top-style:double;
    border-color:#CFCFCF;
}
*/
div#dlTable table { 
    border:1px solid #CFCFCF !important;
    border-bottom: none !important;
    margin-top/**/:0px !important\9;
    *margin-top:0px !important;
    _margin-top:0px !important;
    /*width: 97%;*/ /*100% of container produces horiz. scroll in Mozilla*/
}
div#dlTable table.ui-corner-top{
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;    
}
div#dlTable table th {background:#E0EAFA !important;border:none !important; border-bottom:1px solid #D6D6D6 !important;padding:2px}
div#dlTable table.noSort th{padding:5px;}
div#dlTable table caption {display:none;}
div#dlTable table>tbody { /* IE7 ‘n FF2 */
    /*overflow: auto;
    max-height: 250px;
    overflow-x: hidden; */
}

* div#dlTable table tbody { /* IE6 */
    /*overflow: auto;
    max-height: 250px;
    
    overflow-x: hidden; */
}

div#dlTable table>thead tr { /* IE7 ‘n FF2 */
    /*position:relative;
    top: 0px; */
}

* div#dlTable table thead tr { /* IE6 */
    /*position:relative;
    top: 0px; */
}
.hidden{display:none}
a#moreboxLess{
    background: url('/portal/portal3rc.fcgi/1049549/img/70123') no-repeat left 5px;
    padding: 0px 5px 0px 15px;
}
a#moreboxMore{
    background: url('/portal/portal3rc.fcgi/1049549/img/70124') no-repeat right 5px;
    padding: 0px 15px 0px 5px;
}
#moreboxPerpage{font-weight: normal;font-size:10px;color:#999;padding:0px 5px;position:absolute;
right:0;}

#files_container{ width:60%}
#files_container div.ui-grid {
    width: 100%;
    min-width:600px;
	padding: 0px !important;
}

#files_container .ui-grid table tbody td  { 
	text-align:left ; 
	padding:3px 5px; 
	height:20px !important;
	white-space:nowrap;
	
	/*overflow: hidden; 
	font-size:11px;*/
	color: #444;
	font-family:arial,tahoma,helvetica,sans-serif;
	border-top:none;
	border-left:1px solid #EEEEEE;
	border-right:none !important;
	border-bottom: 1px solid #dddddd; 
}


 
#files_container div.ui-ncbigrid table tbody tr.even td, #files_container div.ui-ncbigrid-scroll table tbody tr.even td {
	background:#F5F5F5 none repeat scroll 0 0;
}

#files_container .rightAlign { text-align:right !important}
 
#files_container .jig-ncbigrid-scroll { border:none;}
#files_container.ui-widget {font-size:1em}
#files_container .ui-widget-header,#files_container table.ui-widget-content  { border: none}
#files_container.ui-grid table thead th { font-weight: bold !important; font-size:11px;color: #444 !important; text-align:left}
#files_container.ui-grid table thead th a:hover{ text-decoration:none}
#files_container .ui-grid table tbody td a { color: #336699}
#files_container.ui-grid table tbody td a:hover { text-decoration:underline}
 
#files_container div.ui-ncbigrid-scroll div.ui-ncbigrid-inner-div { 
    overflow-y:none\9 !important;
	*overflow-y: none !important;
	overflow-y: none !important;
	/*overflow: scroll;*/
	border:none !important;
} 
 
#files_container .ui-state-active, #files_container .ui-widget-content .ui-state-active,#files_container .ui-state-hover,#files_container .ui-widget-content .ui-state-hover { border:1px solid #D3D3D3; border-bottom: 1px solid #ffa500;}

#files_container th.ui-state-hover a:hover, #files_container .ui-widget-content th.ui-state-hover { text-decoration:none !important; }

/* 
#files_container .ui-ncbigrid-pagination div.ui-ncbigrid-pagination-goto { width:auto}
#files_container .ui-ncbigrid-pagination div.ui-ncbigrid-pagination-space  { top:0;}
#files_container .ui-ncbigrid-pagination div.ui-ncbigrid-pagination-space, .ui-ncbigrid-pagination div.ui-ncbigrid-pagination-goto { font-size:10px}
*/
#files_container .ui-grid .ui-grid-header,#files_container  .ui-grid .ui-grid-footer { padding:0.4em}
 
#files_container div.ui-ncbigrid-scroll table tbody { height:auto !important}
#files_container .ui-ncbigrid-pagination div.ui-ncbigrid-pagination-items{margin:0px 5px}
#files_container  .ui-ncbigrid-pagination div.ui-ncbigrid-pagination-goto { margin-right:5px}
 #files_container input.ui-ncbigrid-pagination-page-button{
     
     background:none repeat scroll 0 0 #FFFFFF;
    margin-left:0.5em;
    padding:0;
    text-align:center;
 }

.morebox a{color:#3B5998 !important;}
.morebox a:hover{font-weight:normal !important;text-decoration:underline}
.morebox,#files_container  .ui-grid .ui-grid-footer
{
    /*background-color:#EDEFF4;    
    border:1px solid #D4DAE8;*/
    background-color:#e5e5e5;
    color:#333333;
    font-weight:normal;
    margin-bottom:8px;
    /*margin-top:6px;*/
    border-top:none;
    padding:3px 0;
    
   
    position:relative;
     border:1px solid #CFCFCF;
     border-top:none;
   /* text-align:center;
   -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
     width:97%;*/
}
.morebox a{ color:#333333; text-decoration:none}
.morebox a:hover{ color:#333333; text-decoration:none}

.pdf {background: url('/portal/portal3rc.fcgi/1049549/img/31355') no-repeat top right; padding-right:19px;padding-bottom:2px;}
