[default]
# Core config file, most important settings for a new server.  Enter
# values as KEY = value pairs, values can have spaces, e.g.:
# KEY = My key value

# Crypt key used for cookies, set to a random string or phrase [REQUIRED]
CRYPT_KEY = 

# Set some default database prefixes to be prepended before the actual
# table names.  For databases that don't support cross-database queries
# (e.g. PostgreSQL 7.2), the entries should be empty strings "".
# This is a 'hash' of values.  You can set both to the same value (default),
# or each to its own instance.  If you do the latter you will have to set up
# and administer the various instances. [REQUIRED]
#DBPREFIX{Core} = SBEAMSTest1. 
#DBPREFIX{BioLink} = SBEAMSTest1.dbo.
DBPREFIX{Core} = 
DBPREFIX{BioLink} = 
# If you choose to install an optional module, please uncomment this line
# and specify the database name as above
# DBPREFIX{Microarray} = 

# Type of backend database, one of 'MS SQL Server', 'MySQL', or 'PostgreSQL'
# e.q. DB_TYPE = MySQL (note that the quotes are not used). [REQUIRED]
#DB_TYPE = MS SQL Server
DB_TYPE = MySQL

# Username/password for main db user.  If you don't want to include the password
# in this file you will be prompted for one. [both are REQUIRED]
DB_USER = 
DB_PASS = 

# You have the option of setting up a read-only user, which is used for certain
# db interactions.  This is optional; if not specified the DB_USER will be used
# [ both are REQUIRED]
DB_RO_USER = 
DB_RO_PASS = 

# hostname of server on which backend database is running [REQUIRED]
#DB_SERVER = mssql
DB_SERVER = 

# Name of sbeams database/schema [REQUIRED]
DB_DATABASE = 

# Set the Perl DBI driver string (DSN).  Different RDBMS flavors use
# different formats here. Please uncomment the appropriate line
# [REQUIRED]
#DB_DRIVER   = DBI:Sybase:server=$DB_SERVER;database=$DB_DATABASE
#DB_DRIVER   = DBI:mysql:$DB_DATABASE:$DB_SERVER
#DB_DRIVER   = DBI:Pg:dbname=$DB_DATABASE;host=$DB_SERVER
#DB_DRIVER   = DBI:Oracle:SID=$DB_DATABASE;HOST=$DB_SERVER;PORT=1521
#DB_DRIVER   = DBI:DB2:$DB_DATABASE
DB_DRIVER   =

# uid of user the web server will run as.  if the user is apache you can find
# this by the following command: id -u apache
# [REQUIRED]
WWW_UID = 

[main]

# Absolute filesystem path to main SBEAMS instance root dir
#[REQUIRED].  Example: /var/www/html/sbeams
PHYSICAL_BASE_DIR      = 

# Path to main SBEAMS directory root, relative to web server document root 
#[REQUIRED].  Examples: /sbeams or /dev1/sbeams
HTML_BASE_DIR          = 

[populate]
# Information in this section is used for inserting an initial user into
# the database

# unix username, generally of the installer (you!)
USERNAME = 

# First name
FIRSTNAME = 

# Last name
LASTNAME = 

# Password.  If not specified SBEAMS will use unix or (optionally) windows
# authentication information to validate user login
PASSWORD = 
